<h1 class="page-header">{page_name}</h1>
<div class="row">
	<!-- begin col-12 -->
	<div class="col-md-12">
		<!-- begin panel -->
		<div class="panel panel-inverse" data-sortable-id="index-1">
			<div class="panel-heading">
				<div class="panel-heading-btn">
				<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
				<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
				</div>
				<h4 class="panel-title">Profil Pengguna</h4>
			</div>
			<div class="panel-body">
				<div class="col-sm-12 col-lg-12 col-md-12">
					<div class="col-sm-12 col-lg-9 col-md-12">
							<form action="{url_static_content}apps/profile/proses" id="form1" method="post" class="form-horizontal">
								<div class="clearfix"><div id="message"></div></div>
								<div class="form-group  no-margin">
									<label class="col-md-3 control-label">ID Pengguna <i class='req'>*</i></label>
									<div class="col-md-9"><input {disabled} type="text" class="form-control" data-parsley-required="true" name="userid" id="userid" maxlength='64' value='{userid}'></div>
								</div>
								<div class="form-group  no-margin">
									<label class="col-md-3 control-label">Grup <i class='req'>*</i></label>
									<div class="col-md-9"><select {disabled} class="form-control" data-parsley-required="true" style="width:228px" id="id_auth_user_grup" name="id_auth_user_grup"> {grup_select}</select></div>
								</div>
								<div class="form-group  no-margin">
									<label class="col-md-3 control-label">Nama Pengguna <i class='req'>*</i></label>
									<div class="col-md-9"><input type="text" class="form-control" data-parsley-required="true" name="username" id="username" maxlength='64' value='{username}'></div>
								</div>
								<div class="form-group  no-margin">
									<label class="col-md-3 control-label">Jenis Kelamin <i class='req'>*</i></label>
									<div class="col-md-9">
										<label class="radio-inline">
											<input type="radio" data-parsley-required="true" name="gender" id="gender" value='M' data-parsley-errors-container="#error-gender" {checked_male}> Laki - laki
										</label>
										<label class="radio-inline">
											<input type="radio" name="gender" id="gender" value='F' {checked_female}> Perempuan
										</label>
										<span id="error-gender"></span>
									</div>
								</div>
								<div class="form-group  no-margin">
									<label class="col-md-3 control-label">Tanggal Lahir <i class='req'>*</i></label>
									<div class="col-md-9"><input type="text" class="form-control" name="birthdate" id="birthdate" value='{birthdate}' data-parsley-required="true"></div>
								</div>
								<div class="form-group  no-margin">
									<label class="col-md-3 control-label">E-mail <i class='req'>*</i></label>
									<div class="col-md-9"><input type="text" class="form-control" name="email" id="email" maxlength='64' value='{email}' data-parsley-type="email" data-parsley-required="true"></div>
								</div>
								<div class="form-group  no-margin">
									<label class="col-md-3 control-label">No. Telepon <i class='req'>*</i></label>
									<div class="col-md-9"><input type="text" class="form-control" name="phone" id="phone" data-parsley-type="number" maxlength='64' value='{phone}' data-parsley-required="true"></div>
								</div>
								<div class="form-group  no-margin">
									<label class="col-md-3 control-label">Negara <i class='req'>*</i></label>
									<div class="col-md-9"><select class="form-control" id="kode_ref_negara" data-parsley-required="true" name="kode_ref_negara" data-live-search="true" />{list_negara}</select></div>
								</div>
								<div class="form-group  no-margin indonesia_address hidden">
									<label class="col-md-3 control-label">Provinsi</label>
									<div class="col-md-9"><select class="form-control" id="kode_ref_provinsi" name="kode_ref_provinsi" />{list_provinsi}</select></div>
								</div>
								<div class="form-group  no-margin indonesia_address hidden">
									<label class="col-md-3 control-label">Kota / Kabupaten</label>
									<div class="col-md-9"><select class="form-control" id="kode_ref_kabupaten" name="kode_ref_kabupaten" disabled /></select></div>
								</div>
								<div class="form-group  no-margin indonesia_address hidden">
									<label class="col-md-3 control-label">Kecamatan</label>
									<div class="col-md-9"><select class="form-control" id="kode_ref_kecamatan" name="kode_ref_kecamatan" disabled /></select></div>
								</div>
								<div class="form-group  no-margin indonesia_address hidden">
									<label class="col-md-3 control-label">Kelurahan</label>
									<div class="col-md-9"><select class="form-control" id="kode_ref_kelurahan" name="kode_ref_kelurahan" disabled /></select></div>
								</div>
								<div class="form-group  no-margin">
									<label class="col-md-3 control-label">Kode Pos <i class='req'>*</i></label>
									<div class="col-md-9"><input type="text" class="form-control" name="postal_code" id="postal_code" data-parsley-type="number" maxlength='5' value='{postal_code}' data-parsley-required="true"></div>
								</div>
								<div class="form-group  no-margin">
									<label class="col-md-3 control-label">Alamat <i class='req'>*</i></label>
									<div class="col-md-9"><textarea class="form-control" placeholder="Alamat" id="address" name="address" rows=5 data-parsley-required="true">{address}</textarea></div>
								</div>
								<div class="form-group  no-margin">
									<label class="col-md-3 control-label">Facebook</label>
									<div class="col-md-9"><input type="text" class="form-control" name="facebook" id="facebook" value='{facebook}'></div>
								</div>
								<div class="form-group  no-margin">
									<label class="col-md-3 control-label">Instagram</label>
									<div class="col-md-9"><input type="text" class="form-control" name="instagram" id="instagram" value='{instagram}'></div>
								</div>
								<div class="form-group  no-margin">
									<label class="col-md-3 control-label">Twitter</label>
									<div class="col-md-9"><input type="text" class="form-control" name="twitter" id="twitter" value='{twitter}'></div>
								</div>
								<div class="form-group  no-margin">
									<label class="col-md-3 control-label">Website</label>
									<div class="col-md-9"><input type="text" class="form-control" name="website" id="website" value='{website}'></div>
								</div>
								<div class="form-group  no-margin">
									<label class="col-md-3 control-label"><input type="hidden" name="id_auth_user" id="userid" value='{id_auth_user}'></label>
									<div class="col-md-9"><button   type="button" value="Simpan" id="save" class="btn btn-primary insert"><i class="fa fa-save"></i> Simpan</button></div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var kode_ref_provinsi  = '{kode_ref_provinsi}';
	var kode_ref_kabupaten = '{kode_ref_kabupaten}';
	var kode_ref_kecamatan = '{kode_ref_kecamatan}';
	var kode_ref_kelurahan = '{kode_ref_kelurahan}';
</script>