{data}
	<tr>
		<td class="center">{nomor}</td>
		<td>{kode_kabupaten}</td>
		<td>{kabupatenkota}</td>
        <td>{provinsi}</td>
		<td class="center">
			<!-- <a href="{this_controller}view/{id}" title="View Detail" class="fa fa-search action-form-icon"></a> -->
			<a href="{this_controller}add/{id_kabupaten}" title="Edit Data" class="fa fa-pencil-square-o tangan action-form-icon"></a>
			<a title="Delete Data" class="fa fa-trash-o tangan hapus action-form-icon" id='{id_kabupaten}' data-url-rm='del'></a>
		</td>
	</tr>
{/data}
<tr class="footer">
	<td colspan="10">{paging}</td>
</tr>
