<section class=" section section-contact-us">
  <!-- Container Start -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xs-12">
          <div class="title-pages ">Tentang Kami</div>

          <p class="">EventBloom UBL adalah sistem registrasi event online yang dapat digunakan untuk berbagai macam event baik event yang berskala Nasional maupun Internasional. Kami telah mempunyai pengalaman menyediakan sistem registrasi online sejak tahun 2023. Mulai dari event dengan kapasitas 100 peserta sampai event dengan kapasitas 5000 peserta.</p>
          <div class="title-desc "><strong>Keunggulan EventBloom UBL</strong></div>
          <div class="row list-event">
              <div class="col-sm-12 col-md-12">
                  <div class="media ">
                      <div class="media-left">
                          <a href="#"><img alt="" class="media-object" src="https://eventbloom.co/new/asset/img/lepi.png"></a>
                      </div>

                      <div class="media-body">
                          <p>Telah digunakan berbagai macam event dengan kapasitas 100 - 5000 peserta, baik Nasional maupun Internasional</p>
                      </div>
                  </div>

                  <div class="media ">
                      <div class="media-left">
                          <a href="#"><img alt="" class="media-object" src="https://eventbloom.co/new/asset/img/time.png"></a>
                      </div>

                      <div class="media-body">
                          <p>Peserta dapat membayar registrasi event secara online menggunakan transfer manual</p>
                      </div>
                  </div>

                  <div class="media">
                      <div class="media-left">
                          <a href="#"><img alt="" class="media-object" src="https://eventbloom.co/new/asset/img/papper.png"></a>
                      </div>

                      <div class="media-body">
                          <p>Jika Anda membutuhkan fitur lain, sistem registrasi event kami dapat disesuaikan dengan kebutuhan Anda</p>
                      </div>
                  </div>

                  <div class="media">
                      <div class="media-left">
                          <a href="#"><img alt="" class="media-object" src="https://eventbloom.co/new/asset/img/website.png"></a>
                      </div>

                      <div class="media-body">
                          <p>Terdapat fitur untuk melakukan kuesioner minat terhadap sebuah event</p>
                      </div>
                  </div>

                  <div class="media">
                      <div class="media-left">
                          <a href="#"><img alt="" class="media-object" src="https://eventbloom.co/new/asset/img/tv.png"></a>
                      </div>

                      <div class="media-body">
                          <p>Tersedia berbagai macam laporan yang dapat di cetak sesuai kebutuhan Anda</p>
                      </div>
                  </div>

                  <div class="media">&nbsp;</div>
              </div>
          </div>
      </div>
  </div>
  </div>
</section>