<!-- begin register -->
	<div class="register register-with-news-feed">
	    <!-- begin news-feed -->
	    <div class="news-feed">
	        <div class="news-image">
	        	<img src="{base_url}template/assets/img/login-bg/bg-8.jpg" data-id="login-cover-image" alt="" />
	        </div>
	    </div>
	    <!-- end news-feed -->
	    <!-- begin right-content -->
	    <div class="right-content">
	        <!-- begin register-header -->
	        <h1 class="register-header">
	            {app_name}
	            <small>Kami akan mengirimkan link untuk reset password ke email Anda.</small>
	        </h1>
	        <!-- end register-header -->
	        <!-- begin register-content -->
	        <div class="register-content">
	            <form action="{base_url}apps/login/send_password" method="POST" id="form-register" class="margin-bottom-0">
					<div class="alert alert-danger fade in m-b-15 {error_login_hide}"><b>{error_login}</b></div> 
					<div class="alert alert-warning fade in m-b-15 {warning_hide}"><b>{warning}</b></div> 
	                <label class="control-label">Email</label>
	                <div class="row m-b-15">
	                    <div class="col-md-12">
	                        <input type="email" class="form-control" placeholder="Email" id="email" data-parsley-required="true" name="email" required="required" />
	                    </div>
	                </div>
	             	<div class="row m-b-15 hidden">
	                    <div class="col-md-12">
	            			<div class="g-recaptcha col-sm-12 recapha-travel-buy" data-sitekey="6Lf8tToUAAAAAI4i1ki9cTYluTJ3sc-nndkQ3iL4" data-type="visual">
		                    </div>
		                </div>
	                </div>
	                <div class="clearfix">&nbsp;</div>
	                <div class="register-buttons">
	                    <button type="submit" class="btn btn-primary btn-block btn-lg" id="register">Reset Password</button>
	                </div>
	                <div class="m-t-20 m-b-40 p-b-40">
	                    Sudah punya akun? klik <a href="{base_url}apps/login">disini</a> untuk login.
	                </div>
	            </form>
	        </div>
	        <!-- end register-content -->
	    </div>
	    <!-- end right-content -->
	</div>
	<!-- end register -->   
<script src='https://www.google.com/recaptcha/api.js?hl=id'></script>
<style type="text/css">#g-recaptcha-response{display: none !important}</style>
