<section class="page-title">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 text-center">
				<!-- Title text -->
				<h3>Halaman Tidak Di Temukan.</h3>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>
<div class="wrap">
	<div class="notfound">
		<p>OOPS! - Halaman yang anda tuju tidak ada atau telah dipindahkan</p>
		<img src="{base_url}asset/images/404.png"/>
		<div class="back_to_home">
			<p><a href="{base_url}">Kembali Halaman Utama </a></p>
		</div>
	</div>
</div>  
