{data}
	<tr>
		<td class="center">{nomor}</td>
		<?php if (group_id() == 4) { ?>
			<td>{code}</td>
		<?php } ?>
		<td>{event_category}</td>
		<td>{event_name}</td>
		<td>{event_desc}</td>
		<td>{start_date}</td>
		<td>{end_date}</td>
		<td class="{show_nonmember}">{event_status}</td>
		<td class="center">
			<a href="{this_controller}{idx}/questionnaire" title="Hasil Kuesioner" class="fa fa fa-question-circle tangan action-form-icon {show_nonmember}"></a>
			<a href="{this_controller}{idx}/participant" title="Daftar Peserta" class="fa fa-users tangan action-form-icon {show_nonmember}"></a>
			<a href="{this_controller}{idx}/participant/{idx_event_participant}/payment" title="Konfirmasi Pembayaran" class="fa fa-credit-card tangan action-form-icon {show_payment_member}"></a>
			<a href="{this_controller}{idx}/participant/add/{idx_event_participant}" title="Daftar Event" class="fa fa-user-plus tangan action-form-icon {show_member}"></a>
			<a href="{this_controller}add/{id}" title="Edit Data" class="fa fa-pencil-square-o tangan action-form-icon {show_nonmember}"></a>
			<a title="Delete Data" class="fa fa-trash-o tangan hapus action-form-icon {show_nonmember}" id='{id}' data-url-rm='del'></a>
			<a title="Cancel Event" class="fa fa-ban tangan hapus action-form-icon {show_cancel}" id='{idx_event_participant}' data-url-rm='participant_cancel' data-text="Apakah Anda yakin ingin membatalkan event?"></a>
		</td>
		
	</tr>
{/data}
<tr class="footer">
	<td colspan="10">{paging}</td>
</tr>