<div class='col-md-12'>
	<div class='col-md-3 col-sm-3'>Tanggal</div>
	<div class="col-md-9 col-sm-9">: {create_date}</div>
</div>
<div class='col-md-12'>
	<div class='col-md-3 col-sm-3'>Nama</div>
	<div class="col-md-9 col-sm-9">: {fullname}</div>
</div>
<div class='col-md-12'>
	<div class='col-md-3 col-sm-3'>No. HP</div>
	<div class="col-md-9 col-sm-9">: {handphone}</div>
</div>
<div class='col-md-12'>
	<div class='col-md-3 col-sm-3'>Email</div>
	<div class="col-md-9 col-sm-9">: {email}</div>
</div>
<div class='col-md-12'>
	<div class='col-md-3 col-sm-3'>Subjek</div>
	<div class="col-md-9 col-sm-9">: {subject}</div>
</div>
<div class='col-md-12'>
	<div class='col-md-3 col-sm-3'>Pesan</div>
	<div class="col-md-9 col-sm-9">: {message}</div>
</div>
